&nbsp;<br>Thông báo đơn đặt hàng:
<br><br>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">
    Số đơn hàng&nbsp; : {1} <small>(được lập vào lúc  {2})</small></h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Người đặt hàng&nbsp; : {0} <br></h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Địa chỉ : {3} </h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Số điện thoại&nbsp; : {4} <br></h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">Chi tiết đơn hàng&nbsp; :</h2>
<h2 style="font-size: 18px; font-weight: normal; margin: 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {5} </h2>