

@model List<ShopMohinh.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
 
}
<h1>Vai trò của User</h1>
<table class="table table-striped">
    <thead>
        <tr>
        
            <th>Email</th>
            <th>Vai trò</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
               
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Quản lý vai trò</a>
                </td>
            </tr>
        }
    </tbody>
</table>