
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xuất file Excel</h1>
<label>Thông tin đơn hàng:</label>
<a href="/Admin/ExportExcel/Export">Xuất Excel</a>

