@model ShopMohinh.ViewModel.ModelView

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3 style="text-align:center;font-weight:bold">Tất Cả Sản Phẩm</h3> <br />
    <div class="row">
        @if (Model.Products == null)
        {
            <b>Không có sản phẩm nào!!!</b>
        }
        else
        {
            foreach (Product item in Model.Products)
            {
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.IDProduct" class="img-wrap"> <img src="~/imagesUser/Product/@item.ImagePath" title="Nhấn vào đây để xem chi tiết!"> </a>
                        <figcaption class="info-wrap">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.IDProduct" class="title">@item.ProductName</a>
                            <div class="price mt-1">$@item.Price</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
            }
        }
    </div> <!-- row.// -->
</div>



