
@{
    ViewData["Title"] = "ThankYouBuyProduct";
    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}
<div class="container">
    <h4>Đơn hàng của bạn đã được gửi đến Shop Figure thành công!</h4>
    <h2>Cảm ơn bạn đã đặt hàng của chúng tôi! </h2>
    <p>Chúng tôi sẽ liên hệ cho bạn trong thời gian sớm nhất để xác nhận lại đơn hàng.</p>

    <a asp-controller="Home" asp-action="Index">Quay về trang chủ!</a>
</div>
