
@{
    Layout = null;
}

<div align="center" style="font-size:30px;margin-top:100px">
    <div class="text-danger">
        <h1 class="text-danger">TRUY CẬP BỊ TỪ CHỐI</h1>
        <h6 class="text-danger">Bạn không có quyền xem tài nguyên của trang web này</h6>
        <img src="~/accessdenied/AccessDenied.png" style="height:300px;width:300px" />
        <br />
        <a style="text-decoration:none" class="btn btn-primary" asp-action="Index" asp-controller="Home">Quay lại</a>
    </div>
</div>