@model RegisterViewModel
@{ ViewData["Title"] = "Đăng ký tài khoản"; }

@{ Layout = "_LayoutLogin"; }


<h1 style="text-align:center">@ViewData["Title"].</h1>
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:500px">
        <article class="card-body">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4>Tạo một tài khoản mới</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <div>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <div>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <div>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                    </div>
                </div>
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></p>
</section>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
