@model ShopMohinh.ViewModel.ModelView
@{
    ViewData["Title"] = "Giới thiệu";
}

<h3 align="center" style="font-weight:bold">Giới thiệu cửa hàng</h3>
<div class="container">
    <p>
        ShopFigure với tiêu chí là thiên đường dành cho các fan Manga Anime nên shop quy tụ hầu hết các sản phẩm đặc trưng của truyện tranh và hoạt hình Nhật Bản.
        Gian hàng của Taki Shop nổi bật với các sản phẩm như các tượng (figure), tượng lắp ráp (nendoroid, figma), tượng theo bộ, các phụ kiện dành cho cosplay như kẹp tai mèo, tai thỏ, phi tiêu, kiếm gỗ. Ngoài ra, shop còn có các sản phẩm như bóp ví, túi xách, balo, đồng hồ, nón, thú bông, búp bê, áo thun của Anime Manga.
        Shop đã hoạt động hơn 3 năm nay. Bạn có thể mua hàng tại địa chỉ 146A Phan Văn Trị, P12, Q. Bình Thạnh, TPHCM hoặc mua hàng online tại:
        <ul>
            <li>Trang chủ: http://shopfigure.vn</li>
            <li>Fanpage: https://www.facebook.com/ShopFigure </li>
        </ul>
    </p>
    <div class="wpb_map_wraper"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.039892965176!2d106.6957868!3d10.8105476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb4d0720518b133c5!2sTaki+Shop!5e0!3m2!1svi!2s!4v1459249064584" width="1000" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe></div>
</div>

<div class="container">
    <div class="footer-ribbon"><a href="http://shopfigure.vn">SHOPFIGURE</a></div>
    <div class="row">
        <div class="col-lg-6">
            <aside id="contact-info-widget-2" class="widget contact-info">
                <h3 class="widget-title">Thông tin liên hệ</h3><div class="contact-info contact-info-block">
                    <ul class="contact-details list list-icons" style="list-style:none">
                        <li><i class="far fa-dot-circle"></i> <strong>Địa chỉ:</strong> <span>146A Phan Văn Trị, phường 12, quận Bình Thạnh, TP.HCM</span></li>
                        <li><i class="fab fa-whatsapp"></i> <strong>Điện thoại:</strong> <span>012 3456 7890</span></li>
                        <li><i class="far fa-envelope"></i> <strong>Email:</strong> <span><a href="shopfigure2020@gmail.com">shopfigure2020@gmail.com</a></span></li>
                        <li><i class="far fa-clock"></i> <strong>Thời gian làm việc:</strong> <span>Tất cả các ngày trong tuần / 9:00 AM - 8:00 PM</span></li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="col-lg-6">
            <aside id="pages-2" class="widget widget_pages">
                <h3 class="widget-title">Thông tin cần biết</h3>
                <ul>
                    <li class="page_item page-item-2"><a href="https://takishop.vn/bang-gia-ship-hang-kiem-go-huong-dan-thanh-toan">Bảng giá ship hàng Kiếm Gỗ &amp; hướng dẫn thanh toán</a></li>
                    <li class="page_item page-item-10577"><a href="https://takishop.vn/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                    <li class="page_item page-item-10761 current_page_item"><a href="https://takishop.vn/gioi-thieu-taki-shop" aria-current="page">Giới thiệu ShopFigure</a></li>
                    <li class="page_item page-item-107504"><a href="https://takishop.vn/huong-dan-dat-mua-le-thanh-toan-doi-tra-2017">Hướng dẫn đặt mua lẻ – Thanh toán – Đổi trả 2020</a></li>
                    <li class="page_item page-item-3"><a href="https://takishop.vn/huong-dan-mua-si-thanh-toan-doi-tra-2017">Hướng dẫn mua sỉ – Thanh toán – Đổi trả 2020</a></li>
                    <li class="page_item page-item-107517"><a href="https://takishop.vn/khuyen-mai-ve-gia-ship-hang-khong-danh-cho-mat-hang-kiem-go">Khuyến mãi về giá ship hàng (không dành cho mặt hàng kiếm gỗ)</a></li>
                </ul>
            </aside>
        </div>
    </div>

</div>
