<!-- ========================= SECTION  ========================= -->

<div>
    <section style="background-image: linear-gradient(to left, #ffffff, #fffbff, #fff5f4, #fff6db, #ffffcc); height: 200px">
        <div class="container">
            <div class="row" style="text-align:center;padding-top:40px">
                <div class="col">
                    <span class="tg-clientserviceicon"><i class="fa fa-rocket"></i></span>
                    <div class="tg-titlesubtitle">
                        <h3>GIAO HÀNG NHANH</h3>
                        <p>Vận chuyển trên toàn quốc</p>
                    </div>
                </div>
                <div class="col">
                    <span class="tg-clientserviceicon"><i class="fa fa-tag"></i></span>
                    <div class="tg-titlesubtitle">
                        <h3>Miễn phí giao hàng</h3>
                        <p>Với các đơn hàng trên 1 triệu đồng</p>
                    </div>
                </div>
                <div class="col">
                    <span class="tg-clientserviceicon"><i class="fab fa-envira"></i></span>
                    <div class="tg-titlesubtitle">
                        <h3>Ký gửi bán hộ </h3>
                        <p>Bạn muốn thanh lý figure? Hãy liên hệ với tụi mình nhé</p>
                    </div>
                </div>
                <div class="col">
                    <span class="tg-clientserviceicon"><i class="fa fa-heart"></i></span>
                    <div class="tg-titlesubtitle">
                        <h3>Hỗ trợ 24/7</h3>
                        <p>Phục vụ từng khoảnh khắc</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ========================= SECTION  END// ======================= -->
