<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top" style="background-image: linear-gradient(to right, #00ffff, #66ffff, #90ffff, #b0ffff, #ccffff); width:100%; color: black">
    <div class="container">
        <section class="footer-top padding-y">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Nhãn hiệu</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Adidas</a></li>
                        <li> <a href="#">Puma</a></li>
                        <li> <a href="#">Reebok</a></li>
                        <li> <a href="#">Nike</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Công ty</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Về chúng tôi</a></li>
                        <li> <a href="#">Nghề nghiệp</a></li>
                        <li> <a href="#">Tìm một cửa hàng</a></li>
                        <li> <a href="#">Quy tắc và điều khoản</a></li>
                        <li> <a href="#">Sơ đồ trang web</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Hỗ trợ</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Liên hệ với chúng tôi</a></li>
                        <li> <a href="#">Hoàn tiền</a></li>
                        <li> <a href="#">Tình trạng đặt hàng</a></li>
                        <li> <a href="#">Thông tin vận chuyển</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Tài khoản</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> Đăng nhập tài khoản </a></li>
                        <li> <a href="#"> Đăng ký tài khoản </a></li>
                        <li> <a href="#"> Cài đặt tài khoản </a></li>
                        <li> <a href="#"> Đơn hàng </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Kết nối với chúng tôi</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                        <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                        <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
        </section>	<!-- footer-top.// -->

        <section class="footer-bottom border-top row">
            <div class="col-md-3">
                <p class="text-muted"> &copy 2020 by ShopFigure </p>
            </div>
            <div class="col-md-6 text-md-center">
                <span class="px-2">shopfigure@gmail.com</span>
                <span class="px-2">0398351965</span>
                <span class="px-2">146A Phan Văn Trị, phường 12, quận Bình Thạnh, TP.HCM</span>
            </div>
            <div class="col-md-3 text-md-right text-muted">
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->