@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@*//Microsoft.AspNetCore.Authentication.Cookies*@

<!-- SignInManager là 1 lớp trong .net core, mình có thể vào đây để customize lại các phương thức trong lớp này -->

@if (SignInManager.IsSignedIn(User)) // đã login vào rồi
{
<form asp-area="" asp-controller="Account" asp-action="Logoff" method="post" id="logoutForm" class="navbar-right">
    <div class="icontext nav navbar-nav navbar-right ">
        <div class="text" style="margin-top:-70px;margin-right:50px" align="center">
            <a class="icon icon-sm rounded-circle border" asp-controller="Manage" asp-action="Index"><i class="fa fa-user"></i></a>
            <div class="text-right" style="margin-top:3px">
                <label style="font-family: 'Pacifico', cursive; ">Xin chào</label>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><b>@UserManager.GetUserName(User)</b></a>! <!-- hiển thị tên User ra -->
                <br />
                <div style="font-family: 'Pacifico', cursive;" class="text-center"><button type="submit" class="btn btn-link navbar-btn navbar-link text-decoration-none">Đăng xuất</button></div>
            </div>
        </div>
    </div>
</form>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>*@


    <div class="widget-header icontext nav navbar-nav navbar-right">
        <a class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
        <div class="text" style="margin-top:3px">
            <div style="font-family: 'Pacifico', cursive;">
                <a asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a> |
                <a asp-area="" asp-controller="Account" asp-action="Register">Đăng ký</a>
            </div>
        </div>
    </div>
}